body {
  overflow-x: hidden;
  background: url("../imgs/bg.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top;
}
h1 {
  opacity: .1;
}
nav {
  top: 40%;
  right: 60px;
  position: fixed;
  z-index: 2222222;
}
nav ul li {
  margin-bottom: 30px;
  list-style: none;
}
nav ul li a {
  border-radius: 50%;
  border: 2px solid  #cccccc;
  text-decoration: none !important;
  line-height: 5px;
  font-size: 7px;
}
nav ul li a:hover {
  background: #cccccc;
}
nav ul li a:focus {
  background: #cccccc !important;
}
nav ul li .active {
  background: #cccccc;
}
.header {
  background: #2F2E2E;
  padding: 15px 0px;
}
.header img {
  padding: 0px;
  margin: 0px;
  float: left;
  margin-left: 15%;
  width: 120px;
}
.header .headleft {
  padding-right: 10%;
}
.header .headleft a {
  color: #fff;
  margin-left: 30px;
  float: right;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 130px;
}
.hero {
  height: 200% !important;
  position: relative;
}
.hero h1 {
  font-size: 110px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 120px;
  color: #fff;
  margin-left: -80px;
}
.hero h2 {
  font-size: 62px;
  text-align: center;
  margin-bottom: 240px;
  color: #fff;
  margin-left: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}
.hero #darrw {
  bottom: 0px;
  margin-top: 2%;
}
.hero #darrw a {
  font-size: 100px;
  color: #FFF;
}
.hero #darrw a:hover {
  color: #E7FF6E;
  -webkit-transition: color 1s;
  /* Safari */
  transition: color 1s;
}
#wid {
  background: #FFF;
}
#wid h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin: 80px 0px;
}
#wid .row {
  margin-bottom: 15px;
}
#wid .cbox img {
  float: right;
}
#wid p {
  font-size: 18px;
  font-weight: bold;
  color: #797777;
}
#wid a:hover {
  background-color: #ffa500;
}
#wid .bdsktp {
  margin: 0 auto !important;
}
#wid .rwwp {
  background: #3D9BE9;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 20px 120px;
  border-radius: 50px;
  clear: both;
  font-size: 18px;
  display: inline-block;
  margin-bottom: -10px;
}
#wid .rwwp:hover {
  background: #2B689C;
  transition: background .5s;
}
#wid .sup {
  margin-top: 40px;
  padding: 20px 120px;
  color: #fff;
  background: #5FA837;
  border-radius: 50px;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
}
#wid .sup:hover {
  background: #2B689C;
  transition: background .5s;
}
#plan {
  background: #2F2E2E;
  clear: both;
}
#plan h1 {
  font-size: 62px;
  text-align: center;
  margin: 80px 0px;
  color: #fff;
  font-weight: bold;
}
#plan button {
  border-radius: 12px;
  transition: background-color 0.4s ease 0s;
  background: url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/gaming_pattern.png) repeat 0 0;
  background-color: #1c8a43;
  border: solid #000 2px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 3px 6px 0 inset, rgba(0, 0, 0, 0.6) -2px -3px 6px 0 inset, rgba(0, 0, 0, 0.6) 1px 1px 6px 1px, rgba(255, 255, 255, 0.3) 1px 1px 3px 0;
  padding: 30px 150px;
  margin-bottom: 70px;
  margin-top: 70px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
#plan button:focus {
  outline: none;
}
#plan button:hover {
  background-color: orange;
}
#landing {
  background: #fff;
}
#landing h1 {
  font-size: 52px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 60px;
}
#landing a {
  text-align: center !important;
}
#landing .miru {
  background: #5FA837;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 15px 120px;
  border-radius: 50px;
  clear: both;
  font-size: 18px;
  display: inline-block;
}
#landing .miru:hover {
  background: #2B689C;
  transition: background .5s;
}
#landing .ttpc {
  background: red;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 20px 120px;
  border-radius: 50px;
  clear: both;
  font-size: 18px;
  display: inline-block;
}
#landing .ttpc:hover {
  background: #2B689C;
  transition: background .5s;
}
#landing .sup {
  background: #5FA837;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 20px 120px;
  border-radius: 50px;
  clear: both;
  font-size: 18px;
  display: inline-block;
}
#landing .sup:hover {
  background: #2B689C;
  transition: background .5s;
}
#dav {
  background: #2F2E2E;
  color: #fff;
}
#dav button {
  border-radius: 12px;
  transition: background-color 0.4s ease 0s;
  background: url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/gaming_pattern.png) repeat 0 0;
  background-color: #1c8a43;
  border: solid #000 2px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 3px 6px 0 inset, rgba(0, 0, 0, 0.6) -2px -3px 6px 0 inset, rgba(0, 0, 0, 0.6) 1px 1px 6px 1px, rgba(255, 255, 255, 0.3) 1px 1px 3px 0;
  padding: 30px 150px;
  margin-bottom: 70px;
  margin-top: 70px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
#dav button:focus {
  outline: none;
}
#dav button:hover {
  background-color: orange;
}
#dav h1 {
  margin-top: 80px;
  font-size: 52px;
  margin-bottom: 30px;
  padding-left: 60px;
}
#dav p {
  font-size: 16px;
  font-weight: bold;
  padding-left: 60px;
}
#dav img {
  margin-top: 80px;
}
#rdmp {
  background: #fff;
}
#rdmp h1 {
  font-size: 62px;
  font-weight: bold;
  padding-top: 80px;
  padding-left: 60px;
}
#rdmp img {
  margin-bottom: 40px;
}
.footer {
  background: #2F2E2E;
  color: #fff;
}
.footer h1 {
  text-align: center;
  padding: 50px 0px;
  font-size: 62px;
  font-weight: bold;
}
.footer .ppforms {
  padding: 0px 10%;
  margin-bottom: 160px;
  color: #fff;
  font-size: 18px;
}
.footer .ppforms img {
  margin-bottom: 20px;
}
.footer .footbtm {
  padding-left: 30%;
  padding-right: 18%;
  font-weight: bold;
  padding-bottom: 80px;
}
.footer .footbtm .rm {
  color: #E7FF6E;
}
.footer .footbtm a {
  float: left;
  color: #fff;
  font-size: 18px;
  text-decoration: none !important;
}
